.title-and-desc h2 {
  font-size: 39px;
  line-height: 47.2px;
  color: #222222;
  font-weight: 700;
}

.title-and-desc p {
  font-size: 15px;
  line-height: 26px;
  color: #22222280;
  padding-top: 5px;
}

@media (max-width: 991px) {
  .title-and-desc h2 {
    font-size: 30px;
    line-height: 36.31px;
  }

  .title-and-desc p {
    font-size: 15px;
    line-height: 22px;
  }
}
