.how-works-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.how-works-section .cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 43px;
  padding-top: 56px;
}

@media (max-width: 991px) {
  .how-works-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .how-works-section .cards-container {
    grid-template-columns: auto;
    gap: 20px;
    padding-top: 42px;
  }
}
