.work-flow-card {
  border-radius: 15px;
  padding: 30px 40px;
  min-height: 255px;
}

.work-flow-card h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 26.63px;
  color: #222222;
  padding-top: 20px;
}

.work-flow-card p {
  font-size: 14px;
  line-height: 24px;
  color: #22222280;
  padding-top: 10px;
}

/*Active*/

.work-flow-card.active {
  background-color: #025595;
}
.work-flow-card.active h3,
.work-flow-card.active p {
  color: #ffffff;
}

@media (max-width: 991px) {
  .work-flow-card {
    padding: 15px 17.5px;
    min-height: 218px;
  }
}
