:root {
  --primary-color: #025595;
  --navbar-height: 90px;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-align: left;
}

a {
  text-decoration: none;
}

.my-container {
  padding-left: 5.124%;
  padding-right: 5.124%;
}
